* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 23px;
}

body {
    background: linear-gradient(90deg, rgba(104, 210, 232, 1) 20%, rgba(3, 174, 210, 1) 65%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

#container {
    background-color: #fff;
    padding: 40px 30px 55px 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 65vw;
    display: none;
    /* min-width: 320px; */
}

.location-time {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* text-align: center; */
    font-weight: bold;
}

#time {
    font-size: 2.3em;
}

.location {
    font-size: 1.5em;
}

#temperature {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    font-size: 1.5em;
    font-weight: bold;
}

.details {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}

.detail, .sunrise, .sunset {
    margin: 5px;
}

.forecast {
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 40px;
}

.five-day {
    margin-top: 0px;
}

.day, .hour  ,#hour, #fourth_hour, #seventh_hour, #tenth_hour, #thirteen_hour, #day, #last_day, #second_last_day, #third_last_day, #fourth_last_day {
    background-color: #f9f9f9;
    padding: 10px 100px 10px 100px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.day:hover, #day:hover, #last_day:hover, #second_last_day:hover, #third_last_day:hover, #fourth_last_day:hover, .hour:hover, #hour:hover, #fourth_hour:hover, #seventh_hour:hover, #tenth_hour:hover, #thirteen_hour:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgb(3, 174, 210, 0.5);
}

@media (max-width: 640px) {
    * {
        font-size: 19px;
    }

    body {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #container {
        padding: 25px;
        width: 85vw;
    }
    .forecast {
        gap: 4px;
    }

    .location-time {
        flex-direction: column;
        gap: 10px;
    }

    #temperature {
        margin-top: 10px;
    }

    #time {
        display: none;
    }

    .location {
        font-size: 2em;
        text-align: center;
        margin-right: 25px;
    }

    #date {
        font-size: 1.1rem;
        text-align: center;
    }

    .forecast {
        margin-top: 8px;
        flex-wrap: wrap-reverse;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;

    }
    
    .day, .hour  ,#hour, #fourth_hour, #seventh_hour, #tenth_hour, #thirteen_hour, #day, #last_day, #second_last_day, #third_last_day, #fourth_last_day {
        padding: 10px 10px 10px 10px;
        margin: 10px 0 10px 0;
        border-radius: 5px;
    }
    
}


@media (min-width: 640px) and (max-width: 1203px) {
    * {
        font-size: 19px;
    }

    body {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    #container {
        padding: 25px;
        width: 70vw;
    }
    .forecast {
        gap: 30px;
    }

    .day, .hour  ,#hour, #fourth_hour, #seventh_hour, #tenth_hour, #thirteen_hour, #day, #last_day, #second_last_day, #third_last_day, #fourth_last_day {
        background-color: #f9f9f9;
        padding: 10px 50px 10px 50px;
        margin: 10px 0 10px 0;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #03AED2;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }